* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
/*START HEADER*/
header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: auto;
  padding: 10px;
}
header h1 {
  font-weight: 900;
}
.menu-icon {
  display: none;
}
.main-menu {
  display: flex;
  list-style-type: none;
}
.main-menu li {
  padding-right: 30px;
}
.search-container {
  width: 100%;
  max-width: 500px;
}
.search-box {
  background-color: #f0f0f0;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 50px;
}
.search-box img {
  width: 24px;
  height: 24px;
}
.search-box input[type="text"] {
  border: none;
  background: transparent;
  font-size: 16px;
  flex: 1;
  outline: none;
  color: #333;
}
.header-icons {
  display: flex;
}
.responsive-search-icon {
  display: none;
}
/*Header Tablet (768px and below)*/
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    width: 25px;
    height: 25px;
    padding-right: 5px;
  }
  .main-menu {
    display: none;
  }
}
/*Header Mobile (480px and below)*/
@media (max-width: 480px) {
  .search-box {
    display: none;
  }
  .responsive-search-icon {
    display: block;
  }
  .menu-icon {
    display: block;
    width: 25px;
    height: 25px;
    padding-right: 10px;
  }
  .header-icons {
    height: 25px;
  }
}
/*END HEADER*/

/*START HERO SECTION*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}
.hero-section {
  display: flex;
  width: 100%;
  background-color: #f2f0f1;
  height: auto;
  justify-content: center;
  align-items: center;
}
.hero-section img {
  width: 50%;
  height: 600px;
  padding-top: 50px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.hero-content h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 1;
}
.hero-content p {
  color: #616060;
}
.hero-content button {
  background-color: black;
  color: white;
  font-size: large;
  border-radius: 50px;
  border: none;
  width: 210px;
  height: 52px;
}
.statics {
  display: flex;
  padding-top: 30px;
  gap: 20px;
  font-size: 20px;
}
.divider {
  width: 2px;
  height: auto;
  background-color: #dad8d9;
}
/*Hero Section Tablet (768px and below)*/
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
    padding: 30px;
  }
  .hero-section img {
    object-fit: fill;
    width: 100%;
  }
  .hero-content {
    align-items: center;
  }
  .hero-content h1 {
    font-size: 40px;
  }
  .hero-content button {
    margin: 0 auto;
    display: block;
  }
}
/*Hero Section Mobile (480 and below)*/
@media (max-width: 480px) {
  .hero-section img {
    object-fit: fill;
  }
}
/*END HERO SECTION*/

/*START BRANDS SECRION*/
.brands {
  display: flex;
  background-color: black;
  height: 120px;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.brands img {
  width: 170px;
  margin: 0 20px;
}
/*Brands Tablet (768px and below)*/
@media (max-width: 768px) {
  /* .brands {
    flex-wrap: wrap;
  } */
  .brands img {
    width: 130px;
  }
}
/*Brands Mobile (480px and below)*/
@media (max-width: 480px) {
  .brands {
    height: 75px;
    width: auto;
  }
  .brands img {
    width: 80px;
  }
}
/*ُEND BRANDS SECRION*/

/*START ITEMS LIST*/
.items {
  background-color: white;
}
.items h1 {
  padding-top: 70px;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
}
#product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.product-card {
  width: 350px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 13px;
}

.product-card img {
  max-width: 100%;
  height: 400px;
  object-fit: contain;
}

.product-card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.product-card .price {
  font-weight: bold;
  color: #333;
}

.product-card .desc {
  font-size: 14px;
  color: #777;
  margin: 10px 0;
}

.product-card button {
  padding: 10px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 130px;
  margin: 0 auto;
  display: block;
}
.new-product-button {
  background-color: transparent;
  color: black;
  font-size: large;
  border: 2px solid #e5e5e5;
  border-radius: 50px;
  width: 210px;
  height: 52px;
  /* margin: 0 auto;
  display: block; */
}
.add-product-heading {
  text-align: center;
  padding: 30px;
}
#productForm {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
/*END ITEMS LIST*/
